<section class="hero login-hero is-fullheight">
  <div class="hero-body">
    <div class="container">
        <section class="box login-section">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.label :email, class: 'label' %>
              <div class="control has-icons-left">
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
              </div>
            </div>

            <div class="field">
              <%= f.label :password, class: 'label' %>
              <div class="control has-icons-left">
                <span class="icon is-small is-left">
                  <i class="fas fa-key"></i>
                </span>
                <%= f.password_field :password, autocomplete: "current-password", class: 'input' %>
              </div>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.label :remember_me do %>
                   <%= f.check_box :remember_me, class: 'checkbox' %>
                   Ghi nhớ đăng nhập
                <% end %>
              </div>
            <% end %>

            <div class="actions field">
              <%= f.submit "Đăng nhập", class: "button is-link" %>
            </div>
          <% end %>

          <%= render "devise/shared/links" %>
        </section>
      </div>
  </div>
</section>


